@media screen and (min-width: 640px) {
  .logo-hotel {
    display: block;
    width: 6rem;
    height: 6rem;
    border-radius: 30px;
    margin: 0.5rem;
    margin-top: 2rem; }
  header nav h1 {
    margin-left: 10rem; }
  header nav ul {
    margin-left: 15rem; }
  main {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 0.1fr 0.1fr 0.1fr;
    grid-template-areas: "mih2 mih2" "img11 texto8" "informacion formulario"; }
    main .mih2 {
      grid-area: mih2; }
    main .img11 {
      grid-area: img11;
      margin-left: 10rem; }
    main .texto8 {
      grid-area: texto8;
      margin: 0rem; }
    main .informacion {
      grid-area: informacion;
      margin-left: 18rem;
      font-size: 1.4rem;
      height: 35rem; }
    main .formulario {
      grid-area: formulario;
      margin-bottom: 2rem;
      margin-right: 20rem;
      padding-left: 0rem;
      padding-right: 0rem; }
  section img {
    width: 35rem;
    height: 20rem;
    margin-left: 3rem; }
  .mih1 {
    font-size: 6rem; }
  .mih2 {
    font-size: 5rem; }
  .mih3 {
    font-size: 3rem; }
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: "iconos subscripcion" "mih4 mih4"; }
    footer .iconos {
      grid-area: iconos; }
    footer .subscripcion {
      grid-area: subscripcion;
      margin: 0.5rem 0.5rem;
      font-size: 0.9rem; }
      footer .subscripcion legend {
        font-weight: bold;
        font-size: 1rem; }
    footer .mih4 {
      grid-area: mih4;
      display: block;
      text-align: center;
      font-size: 15px;
      font-family: 'Playfair Display', serif; } }
