/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* estilos html */
html {
    background-color: #000;
}

/* estilos body */
body {
    min-height: 100vh;
    max-width: 70%;
    min-width: 600px;
    margin: 0 auto;
    background-color: #000;
}

/* estilos header */
header {
    display: flex;    
    background-color: #B1D7B4;    
}

/* estilos header */
header nav {
    margin-left: 10rem;
    padding-bottom: 4rem;
}

/* estilos pseudo clase a:hover */
header nav ul li a:hover{
    transition: 0.5s;    
    background-color: #1C6758;        
    border-radius: 5px;
    font-weight: bold;       
    box-shadow: 1px 1px black;
}

/* estilos del logotipo del header */
.logo-hotel {
    display: none;
}


/* estilos h1 del header */
.mih1 {    
    color: #1C6758;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Bebas Neue', cursive;    
}


/* estilos del main */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: #F7F6DC;    
}

/* estilos del video del main */
.video1 {
    width: 35rem;
    height: 20rem;
    margin-right: 1.4rem;
}

/* estilos de los h2 y h3 */
.mih2, .mih3 {    
    text-align: center;
    font-size: 2rem;    
    font-family: 'Bebas Neue', cursive;
    margin: 1rem;
}

/* estilos del h3 */
.mih3 {
    font-size: 1.5rem;
    color: #EF5B0C;
}

/* estilos de imagenes */
section img {
    width: 35rem;
    height: 20rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

/* estilos de la clase boton del main */
main .boton{
    padding: 0.5rem;
    color: black;
    background-color: #B1D7B4;
    box-shadow: 2px 2px 2px black;
    font-weight: bold;
    letter-spacing: 0.2rem;
    text-align: center;
    border-radius: 10px;
    width: 15rem;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* estlios pseudo clase .boton:hover */
main .boton:hover {
    transition: 0.5s;
    color: #FCF8E8;
    background-color: #1C6758;
}

/* estilos del texto */
.texto1, .texto2, .texto3, .texto4, .texto5, .texto6, .texto7, .texto8 {
    font-family: 'Playfair Display', serif;    
    text-align: justify;    
    font-size: 1rem;    
}

.texto1 {
    margin-bottom: 3rem;
    width: 35rem;
    height: 27rem;
}

/* estilos del texto de información */
.informacion {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    width: 35rem;    
    height: 20rem;
    font-size: 1rem;
    margin: 2rem;
}

/* estilos del formulario */
.formulario{    
    margin-bottom: 2rem;
    text-align: center;
}

/* estilos etiqueta span del main */
span {    
    color: #EF5B0C;
    font-weight:bold;
}


/* estilos footer */
footer {
    display: flex;
    flex-direction: column;    
    align-items: center;
    background-color: #FFC090;    
}

/* estilos del los iconos del footer */
footer .iconos {
    padding: 1rem;
}

/* estilos de la subscripcion del footer */
footer .subscripcion {
    padding: 1rem;
    border-radius: 20px;
    border: 1px solid #000;
}

/* estilos parrafos del footer */
footer .mih4 {
    display: none;
}

/* media queries */
@media screen and (min-width: 600px){

    /* estilos nuevos del header */
    header nav {
        margin-left: 4rem;
    }
    
    /* estilos nuevos del logotipo del header */
    .logo-hotel {
        display: flex;
        width: 6rem;
        height: 6rem;
        border-radius: 30px;
        margin: 0.5rem;
    }

    /* estilos nuevos del main */
    main {
        display: grid;
        grid-template-columns: 0.5fr 0.5fr;
        grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr;
        grid-template-areas:
        "mih2 mih2"
        "mih3 mih3"
        "img11 texto10"
        "img-carrusel img-carrusel";
    }

    main .mih2 {
        grid-area: mih2;
    }

    main .mih3 {
        grid-area: mih3;
    }

    main .img-carrusel {
        grid-area: img-carrusel;        
    }    

    /* estilos nuevos de imagenes */
    section img {
        width: 75rem;
        height: 40rem;
        margin-left: 5rem;
        margin-bottom: 1rem;
    }

    /* estilos nuevos del h1 del header */
    .mih1 {
        font-size: 6rem;        
    }

    /* estilos nuevos del h2 del header */
    .mih2 {
        font-size: 5rem;
    }

    /* estilos nuevos del h3 del header */
    .mih3 {
        font-size: 3rem;
    }

    /* estilos nuevos del footer */
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr;
        grid-template-areas:
        "iconos subscripcion"
        "mih4 mih4"
    }

    /* estilos del los iconos del footer */
    footer .iconos {
        grid-area: iconos;
    }

    /* estilos de la subscripcion del footer */
    footer .subscripcion {
        grid-area: subscripcion;
        margin: 0.5rem 0.5rem;
        font-size: 0.9rem;
    }

    footer .subscripcion legend {
        font-weight:bold;
        font-size: 1rem;
    }

    /* estilos del h3 del footer */
    footer .mih4 {
        grid-area: mih4;
        display: block;
        text-align: center;
        font-size: 15px;
        font-family: 'Playfair Display', serif;
    }
}



