@media screen and (min-width: 640px) {
  .logo-hotel {
    display: block;
    width: 6rem;
    height: 6rem;
    border-radius: 30px;
    margin: 0.5rem;
    margin-top: 2rem; }
  header nav h1 {
    margin-left: 10rem; }
  header nav ul {
    margin-left: 15rem; }
  main {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 0.2fr 0.2fr 0.2fr 0.2fr;
    grid-template-areas: "mih2 mih2" "img5 texto2" "texto3 img6" "img7 texto4";
    padding-left: 1.5rem;
    justify-content: space-between; }
    main .mih2 {
      grid-area: mih2; }
    main .texto2 {
      grid-area: texto2;
      margin-left: 3rem; }
    main .img5 {
      grid-area: img5;
      margin-bottom: 2rem;
      margin-left: 10rem; }
    main .texto3 {
      grid-area: texto3;
      margin-left: 12rem; }
    main .img6 {
      grid-area: img6;
      margin-bottom: 2rem; }
    main .texto4 {
      grid-area: texto4;
      margin-left: 3rem; }
    main .img7 {
      grid-area: img7;
      margin-bottom: 2rem;
      margin-left: 10rem; }
    main .boton {
      margin: 0 auto; }
  section img {
    width: 40rem;
    height: 25rem;
    margin-left: 0rem;
    margin-top: 0rem; }
  .mih1 {
    font-size: 6rem; }
  .mih2 {
    font-size: 5rem; }
  .mih3 {
    font-size: 3rem; }
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: "iconos subscripcion" "mih4 mih4"; }
    footer .iconos {
      grid-area: iconos; }
    footer .subscripcion {
      grid-area: subscripcion;
      margin: 0.5rem 0.5rem;
      font-size: 0.9rem; }
      footer .subscripcion legend {
        font-weight: bold;
        font-size: 1rem; }
    footer .mih4 {
      grid-area: mih4;
      display: block;
      text-align: center;
      font-size: 15px;
      font-family: 'Playfair Display', serif; } }
