/* media queries */
@media screen and (min-width: 600px){

    /* estilos nuevos del header */
    header nav {
        margin-left: 4rem;        
    }

    /* estilos nuevos del logotipo del header */
    .logo-hotel {
        display: flex;
        width: 6rem;
        height: 6rem;
        border-radius: 30px;
        margin: 0.5rem;
        margin-top: 1rem;
    }

        /* estilos nuevos del main */
        main {
            display: grid;
            grid-template-columns: 0.5fr 0.5fr;
            grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
            grid-template-areas:
            "mih2 mih2"
            "texto5 img8"
            "img9 texto6"
            "informacion formulario";
        }
    
        main {
            padding-left: 1.5rem;
            justify-content: space-between;
        }
    
        main .mih2 {
            grid-area: mih2;
        }   
    
        main .texto5 {
            grid-area: texto5;
            height: 15rem;
        }
    
        main .img8 {
            grid-area: img8;
        }
    
        main .texto6 {
            grid-area: texto6;
            height: 15rem;
        }
    
        main .img9 {
            grid-area: img9;
        }
    
        main .informacion {
            grid-area: informacion;        
            font-size: 1.5rem;
            margin: 0rem;
        }
    
        main .formulario {
            grid-area: formulario;            
            margin-bottom: 0rem;        
        }
    
        /* estilos de imagenes */
        section img {
            width: 35rem;
            height: 20rem;
        }
    
        /* estilos de la clase boton del main */
        main .boton{
        margin-left: 10rem;
        }
    
        /* estilos nuevos h1 del header */
        .mih1 {
            font-size: 6rem;
        }
        
        /* estilos nuevos del h2 */
        .mih2 {
            font-size: 5rem;
        }
        
        /* estilos nuevos del h3 */
        .mih3 {
            font-size: 3rem;
        }
    
        /* estilos nuevos del footer */
        footer {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 2fr 1fr;
            grid-template-areas:
            "iconos subscripcion"
            "mih4 mih4"        
        }
    
        /* estilos del los iconos del footer */
        footer .iconos {
            grid-area: iconos;
        }
    
        /* estilos de la subscripcion del footer */
        footer .subscripcion {
            grid-area: subscripcion;
            margin: 0.5rem 0.5rem;
            font-size: 0.9rem;
        }
    
        footer .subscripcion legend {
            font-weight:bold;
            font-size: 1rem;
        }
    
        /* estilos del h3 del footer */
        footer .mih4 {
            grid-area: mih4;
            display: block;
            text-align: center;
            font-size: 15px;
            font-family: 'Playfair Display', serif;
        }
    
}