section {
	img {
		width: 35rem;
		height: 20rem;
		padding-bottom: 2rem;
	}
}

@media screen and (min-width: 640px) {

	@import "utilities/headerDesk";
	
	main {
		display: grid;
		grid-template-columns: 2fr;
		grid-template-rows: 0.1fr 0.1fr 0.1fr;
		grid-template-areas: "mih2" "mih3" "section-img";
		.mih2 {
			grid-area: mih2;
		}
		.section-img {
			grid-area: section-img;
			padding-left: 0.7rem;
		}
	}
	section {
		img {
			margin-left: 5rem;
			width: 107rem;
			height: 50rem;
		}
	}
	.mih1 {
		font-size: 6rem;
	}
	.mih2 {
		font-size: 5rem;
	}
	.mih3 {
		font-size: 3rem;
	}

	@import "utilities/footerDesk";
}

