@import "utilities/variables";
@import "utilities/mixins";

@media screen and (min-width: 993px){

    @import "utilities/headerDesk";
    
    main {
        display: grid;
        justify-content: space-between;
        padding-left: 1.5rem;
        grid-template-columns: 0.5fr 0.5fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
        grid-template-areas: "mih2 mih2" "texto5 img8" "img9 texto6" "informacion formulario";
        .mih2 {
            grid-area: mih2;
            font-size: 5rem;
        }
        .texto5 {
            grid-area: texto5;
            @include size-texto(560px, 240px);
            margin-left: 15rem;
        }
        .img8 {
            grid-area: img8;
        }
        .texto6 {
            grid-area: texto6;
            @include size-texto(560px, 240px);
            margin-left: 5rem;
        }
        .img9 {
            grid-area: img9;
            margin-left: 10rem;
        }
        .informacion {
            grid-area: informacion;
            @include size-informacion(620px, 540px);
            margin-left: 10rem;
            font-size: 1.4rem;            
            padding-top: 5rem;
            margin-top: 3rem;
            border: 1px solid black;
        }
        .formulario {
            grid-area: formulario;
            margin-right: 15rem;
            margin-left: 10rem;
            margin-top: 3rem;
        }
        section {
            img {
                @include size-imagenes(700px, 400px);
            }
            .boton {
                margin-left: 15rem;
            }
        }
        article {
            .mih3 {
                font-size: 3rem;
            }
        }
    }

    @import "utilities/footerDesk";
}

@media (min-width: 768px) and (max-width: 992px){

    @import "utilities/headerTablet";

    main {
        display: grid;
        justify-content: space-between;
        padding-left: 1.5rem;
        grid-template-columns: 0.5fr 0.5fr;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
        grid-template-areas: "mih2 mih2" "texto5 img8" "texto6 img9" "informacion formulario";
        .mih2 {
            grid-area: mih2;
            font-size: 3rem;
            font-size: 4rem;
            margin-right: 10rem;
        }
        .texto5 {
            grid-area: texto5;
            @include size-texto(350px, 200px);
            margin-left: 5rem;            
            font-size: 0.8rem;
        }
        .img8 {
            grid-area: img8;
            margin-left: 1rem;
        }
        .texto6 {
            grid-area: texto6;
            @include size-texto(350px, 200px);
            margin-left: 5rem;            
            font-size: 0.8rem;
        }
        .img9 {
            grid-area: img9;
            margin-left: 1rem;
        }
        article {
            .mih3 {
                font-size: 2rem;
            }
        }
        .informacion {
            grid-area: informacion;
            @include size-informacion(400px, 540px);
            margin-left: 5rem;
            font-size: 1.1rem;            
            padding-top: 5rem;
            margin-top: 3rem;
            border: 1px solid black;
        }
        .formulario {
            grid-area: formulario;
            margin-right: 15rem;
            margin-left: 2rem;
            margin-top: 3rem;
        }
        section {
            img {
                @include size-imagenes(400px, 250px);                
                margin-top: 3rem;
            }
            .boton {
                margin-left: 5rem;
            }
        }
    }

    @import "utilities/footerTablet";

}