%boton {
    padding: 0.5rem;
	color: black;
	background-color: $verde-claro;
	box-shadow: 2px 2px 2px black;
	font-weight: bold;
	letter-spacing: 0.2rem;
	text-align: center;
	border-radius: 10px;
	width: 240px;
	margin: 0 auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-family: $fuente-bn;
}

%haches {
    text-align: center;
	font-size: 2rem;
	font-family: $fuente-bn;
	margin: 1rem;
}

%enlacehover{
	text-align: left;
	transition: 0.5s;
	color: $color-blanco;
	background-color: $verde-fuerte;
	border-radius: 5px;
	font-weight: bold;
	box-shadow: 1px 1px $color-negro;
}

%h1header{
	color: $verde-fuerte;
	text-align: center;
	font-size: 2.5rem;
	font-family: $fuente-bn;
	font-size: 3rem;
}