footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $color-footer;
	.iconos {
		padding: 1rem;
	}	
	.subscripcion {
		padding: 1rem;
		border-radius: 20px;
		border: 1px solid $color-negro;		
		legend {
			font-family: $fuente-pd;
			font-weight: bold;
			font-size: 1rem;
		}
	}	
	.mih4 {
		display: none;
	}
}