header {
	div {
		.logo-hotel {
			display: block;
			position: absolute;
			width: 100px;
			height: 100px;
			border-radius: 30px;
			margin: 0.5rem;
			margin-top: 1.5rem;
		}
		nav {
			div {		
				h1 {
					margin-left: 10rem;
				}
				div {				
					ul {
						margin-left: 15rem;
					}
				}				
				.mih1 {
					font-size: 6rem;
				}
			}
		}
	}
}