header {
	display: flex;
	background-color: $verde-claro;
	overflow-x: hidden;
	div {		
		nav {
			margin-left: 10rem;
			div {
				div {
					ul {
						li {
							a {								
								&:hover {
									@extend %enlacehover;
								}
							}
						}
					}
				}				
				.mih1 {
					@extend %h1header;					
				}
			}
		}		
		.logo-hotel {
			display: none;
		}
	}
}