
/* Paleta de colores del proyecto */
$verde-fuerte: #1C6758;
$verde-claro: #B1D7B4;
$fondo-principal: #F7F6DC;
$naranja-pp: #FFC090;
$negro: #000;
$blanco: #FFF;
$resalta-letra: #EF5B0C;

/* Estilos de Fuentes */
$fuente-bn: 'Bebas Neue', cursive;
$fuente-pd: 'Playfair Display', serif;