
$verde-fuerte: #1C6758;
$verde-claro: #B1D7B4;
$fondo-principal: #F7F6DC;
$color-footer: #FFC090;
$color-negro: #000;
$color-blanco: #FFF;
$resalta-letra: #EF5B0C;

$fuente-bn: 'Bebas Neue', cursive;
$fuente-pd: 'Playfair Display', serif;